html {
	width: 100%;
	height: 100%;
	font-family: "Courier New", Courier, monospace;
	font-weight: 900;
	overflow-x: hidden;
}

body {
	width: inherit;
	min-height: 100%;
	margin: 0;
}

.container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #efefef;
}

.login-container,
.register-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 310px;
	height: 400px;
	background-color: #fafafa;
	border: 1px solid #dddddd;
}

#login_form,
#register_form {
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.login,
.password,
.fullname,
.email {
	width: 80%;
}

#username,
#password,
#fullname,
#email {
	width: 100%;
}

.button {
	font: inherit;
	color: #fafafa;
	width: 80%;
	background-color: rgb(0, 102, 255);
	border: 0;
	cursor: pointer;
}

.user-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: inherit;
	min-height: 88vh;
	background-color: #fafafa;
	border: 1px solid #dddddd;
}
.photos-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	color: #555555;
	width: 100%;
	min-height: 100%;
}
.user-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 150px;
	border: 1px solid #dddddd;
	margin-bottom: 50px;
}
.user-info {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
}
.user-name {
	margin-left: 5%;
	font-size: 40px;
}
.user-avatar {
	border: 1px solid #555555;
	width: 100px;
	height: 100px;
}

@media (max-width: 430px) {
	.user-name {
		font-size: 20px;
	}
	.user-avatar {
		width: 50px;
		height: 50px;
	}
}

.logout-link {
	font-size: 0.5;
	margin-left: 5%;
}

#upload_avatar,
#upload_photo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 300px;
}

.file-input {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 400px;
}

.upload-avatar-container,
.upload-photo-container {
	border: 1px solid black;
	z-index: 999999;
	background-color: #777777;
	position: absolute;
	top: 20%;
	width: 500px;
	height: 500px;
}

.close-btn {
	position: absolute;
	bottom: 92%;
	left: 98%;
	font-size: 40px;
	cursor: pointer;
}

.drag-n-drop {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	width: 90%;
	height: 80%;
	border: 1px dashed #bbbbbb;
	color: #bbbbbb;
	font-size: 30px;
}

.drag-n-drop.hover {
	border-color: #eeeeee;
	color: #eeeeee;
}

.loading {
	display: none;
	width: 45px;
	height: 45px;
}

.user-photo {
	width: 300px;
	height: 300px;
	margin: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
.opened-photo {
	border: 1px solid black;
	z-index: 999999;
	position: absolute;
	top: 20%;
	display: none;
	width: 80%;
	height: 70%;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #999999;
}
